# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# macOS
.DS_Store

# VSCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# IDE project files
.idea/
*.iml

# Build artifacts
build/
dist/
*.egg-info/
